{% extends 'projectflow/base.html' %}
{% block content %}
<style>
  /* Additional styling */
  .container {
    max-width: 400px;
    margin: auto;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .form-input {
    border: 2px solid #966be4;
    border-radius: 0.375rem;
    background-color: rgb(233, 230, 230);
    color: #111317;
    padding: 0.75rem;
    transition: border-color 0.3s;
  }
  .form-input:focus {
    border-color: #7F00FF;
  }
  .submit-button {
    background-color: #7F00FF;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .submit-button:hover {
    background-color: #6A0DAD;
  }
  nav a {
    color: white;
    margin: 0 0.25rem;
    transition: text-decoration 0.3s;
  }
  nav a:hover {
    color: black;
  }
</style>
<div class="container bg-violet-300 rounded-lg shadow-lg max-w-md mx-auto">
    <h1 class="text-4xl text-center text-slate-800 mb-6">Sign Up</h1>
    <form class="space-y-4" method="post" action=".">
        {% csrf_token %}
        <div>
            <label class="block text-slate-800 mb-2 text-left" for="name">Name</label>
            <input name="name" type="text" id="text" class="form-input w-full" required>
          </div>
      <div>
        <label class="block text-slate-800 mb-2 text-left" for="email">E-mail</label>
        <input name="email" type="email" id="email" class="form-input w-full" required>
      </div>
      <div>
        <label class="block text-slate-800 mb-2 text-left" for="password">Password</label>
        <input name="password1" type="password" id="password" class="form-input w-full" required>
      </div>
      <div>
        <label class="block text-slate-800 mb-2 text-left" for="repeat-password">Repeat Password</label>
        <input name="password2" id="repeat-password" class="form-input w-full" required>
      </div>
      <button type="submit" class="submit-button">Sign Up</button>
    </form>
</div>
{% endblock %}
